holoviews>=1.14.8
geoviews
matplotlib>=3.5
numpy>=1.21
pandas>=1.4
geopandas
mapclassify
contextily
panel>=0.13
scipy>=1.8.0
seaborn>=0.11.2
tqdm>=4.62.3
ipykernel
ipython_genutils
pandoc
sphinx
sphinxawesome-theme==5.0.0b5
nbsphinx
sphinx-autodoc-typehints
sphinx-copybutton
sphinx-tabs